#muiMove{width:100% ; height: 100%;}
p{font-size: inherit;margin-bottom: 0;color: inherit;}
#header{position: fixed;}
.hotnewsBody{font-family: "微软雅黑" !important;padding-bottom: 1.0667rem;padding-top: 2.853rem;}
.hot_title{
	margin-top: 0.21rem;
	padding-top: 0.45rem;
	border-top: 0.04rem solid #f4f0f1;
	margin-left: 0.44rem;
	margin-right: 0.44rem;
}
.hot_title p{
	margin-right: 0.7rem;
	margin-left: 0.986rem;
	margin-bottom: 0.52rem;
	font-size: 1.2rem;
	color: rgb(32,32,32);
	font-weight: bold;
	line-height: 1.48rem;
	overflow: hidden;
	max-height: 2.96rem;
	position: relative;
	-webkit-line-clamp: 2;
	  -moz-line-clamp: 2;
	  -ms-line-clamp: 2;
	  -o-line-clamp: 2;
	  line-clamp: 2;
	  -webkit-box-orient: vertical;
	  -moz-box-orient: vertical;
	  -ms-box-orient: vertical;
	  -o-box-orient: vertical;
	  box-orient: vertical;
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-box;
	  display: -o-box;
	  display: box;
	}
.mediaBox {
	margin: 0 1.28rem;
	padding: 1.6rem  2.666rem 1.6rem 3.13rem;
	background: #000;
	position: relative;
}
.hotbtn{
	position: absolute;
}
.playbtn{
	width: 3.33rem;
	height: 3.33rem;
	background: url(../images/hotplay.png);
	background-size: contain;
	margin-top: -1.66rem;
	margin-left: -1.66rem;
	top:50%;
	left: 50%;
}
.time_lenth{
	width: 3.066rem;
	height: 1.466rem;
	right: 0.13rem;
	background: url(../images/hottimelen.png);
	background-size: contain;
	font-size: 0.506rem;
	text-align: center;
	color: #fff;
}
.mediaBox .media {display: block;width: 100%;height: 100%;}
.pl{margin: 0 0.44rem;line-height: 1.866rem;border-bottom: 0.04rem solid #f4f0f1;padding-left: 1rem;font-size: 0.8rem;color: rgb(130,130,130);}
.plname{margin-right: 0.533rem;}
.pltimes{margin-right: 0.48rem;}
.imgs_news{
	display: flex;
	justify-content: space-around;
	margin: 0 0.44rem;
	border-bottom: 0.04rem solid #f4f0f1;
	padding: 0.92rem 0.033rem  0.893rem 0.99rem;
}
.news_right{
	width: 7.52rem;
	height: 4.8266rem;
}
.news_right img {width: 100%;height: 100%;}
.news_left{width: 55.20%;position: relative;}
.closeBtn{
	display: inline-block;
	width: 1.186rem;
	height: 0.826rem;
	background: url(../images/hotclose.png);
	background-size: contain;
	position: absolute;
	right: 1.426rem;
	bottom: 0.306rem;
}
.img_pl{margin: 0;border-bottom: none;padding-left: 0;}
.same_news{
	margin: 0 0.44rem;
	border-bottom: 0.04rem solid #f4f0f1;
	position: relative;
}
.same_news_title{
	font-size: 1.2rem;
	color: rgb(32,32,32);
	margin: 0.613rem 0 0.6rem 0.973rem;
	font-weight: bold;
	max-height: 2.4rem;
	line-height: 1.2rem;
	position: relative;
	overflow: hidden;
	-webkit-line-clamp: 2;
	  -moz-line-clamp: 2;
	  -ms-line-clamp: 2;
	  -o-line-clamp: 2;
	  line-clamp: 2;
	  -webkit-box-orient: vertical;
	  -moz-box-orient: vertical;
	  -ms-box-orient: vertical;
	  -o-box-orient: vertical;
	  box-orient: vertical;
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-box;
	  display: -o-box;
	  display: box;
	}
.imgbox{
	display: flex;
	justify-content: space-between;
	padding: 0 0.773rem 0 0.88rem;
}
.imgbox img {width: 29.32%;height: 18.95%;}
.same_news .pl{padding-left: 0.88rem;}
/*单图新闻*/
.singleImg{
	/*background: red;*/
	margin: 0 0.44rem;
	border-bottom: 0.04rem solid #f4f0f1;
	overflow: hidden;
	position: relative;
	padding-right: 0.653rem;
}
.singleImg_left{display: inline-block;width: 69%;position: absolute;top: 1.08rem;left: 0.973rem;padding-right: 1.4rem;}
.singleImg_right{width: 29.375%;display: inline-block;float: right;position: relative;}
.singleImg_right img{
	width: 100%;
	height: 4.827rem;
	display: block;
	margin-top: 0.92rem;
	margin-bottom: 1.19rem;
}
.singleImg_title{
	font-size: 1.2rem;
	color: rgb(32,32,32);
	font-weight: bold;
	position: relative;
	height: 4rem;
	line-height: 1.33rem;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;     
	  -webkit-line-clamp: 3;
	  -moz-line-clamp: 3;
	  -ms-line-clamp: 3;
	  -o-line-clamp: 3;
	  line-clamp: 3;
	  -webkit-box-orient: vertical;
	  -moz-box-orient: vertical;
	  -ms-box-orient: vertical;
	  -o-box-orient: vertical;
	  box-orient: vertical;
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-box;
	  display: -o-box;
	  display: box;
	}
.singleImgNum{
	position: absolute;
	width: 3.066rem;
	height: 1.466rem;
	right: 0.13rem;
	top: 4.16rem;
	background: url(../images/hottimelen.png);
	background-size: contain;
	font-size: 0.506rem;
	text-align: center;
	color: #fff;
}
#footer{
	display: none;
}
.mui-pull{display: none !important;}
