header{
	background: #00B6F0 !important;
	padding-top: 20px !important;
	height: 64px !important;
}
body{
	background: #F1EFF5!important;
}
/*返回*/
#back-login{
	color: white !important;
	font-size: 18px;
	line-height: 24px;
}

.reg-title{
	color: white;
}
#next{
	width: 100%;
	background: #FF7E00;
	border-radius: 5px;
	height: 50px;
	border: 0!important;
	color: white;
	font-size: 16px;
}

#next-p{
	
}

#form{
	margin-top: 23%;
	width:90%;
	margin-left: 5%;
}

#get-verification{
	display: block ;
	float: right;
	width: 35%;
	height: 55px;
	background: #FF7E00;
	color: white;
	text-align: center;
	line-height: 55px;
	border-radius: 4px;
}
#form p input{
	border: 0!important;
	border-radius: 6px;
	height: 55px;
	color: black !important;
}

::-webkit-input-placeholder { /* WebKit browsers */ 
	color:#757575 !important; 
} 

